.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.chamada{
    align-items: start;
    justify-content: start;
    text-align: start;
    width: 400px;
    margin-bottom: 30px;
}

.chamada h1{
    font-size: 60px;
    font-weight: bold;
}

.chamada p{
    margin-top: -20px;
    font-size: 20px;
    font-weight: normal;
}


.botoes{
    display: flex;
    gap: 15px;
}

.botao{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    &:hover{
        cursor: pointer;
    }

}

.login-button{
    border-style: inherit;
    padding: 10px;
    background-color: rgb(255, 254, 255);
    color: rgb(98, 0, 255);
    font-weight: bold;
    &:hover{
        transition-duration: 0.5s;
        //transition-delay: 0.1s;
        background-color: rgba(255, 254, 255, 0.753);
        color: rgb(98, 0, 255);
    }
}

.register-button{
    border-style: inherit;
    padding: 10px;
    background-color: rgb(98, 0, 255);
    color: white;
    font-weight: bold;
    &:hover{
        transition-duration: 0.5s;
        //transition-delay: 0.1s;
        background-color:rgb(118, 33, 255);
    }
}

.landing-image {
    width: 50%;
    max-height: 300px; 
    object-fit: contain;
}


.top-container{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10vh;
    gap: 400px;
    
}

header {
    position: sticky;
    top: 10px;
    z-index: 100;
    background-color: black;

    .botoes{
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        align-items: center;
        align-self: center;
    
    }

    .botao{
        width: 70px;
        height: 30px;
        font-size: 12px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 20px;
    height: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 30px;

    app-menu-item {
        display: flex;
        align-items: center;
        padding: 0 20px;
        white-space: nowrap;
        border-radius: 5px;


        &:hover {
            background-color: #3b3b3b6e;
            cursor: pointer;
        }
    }
}

.separator {
    width: 2px;
    height: 25px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.26);
    margin: 0;
    flex-shrink: 0;
    align-self: center;
}

.separator-horizontal {
    width: 100%;
    height: 1px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.26);
    margin-top: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
    align-self: center;
}

.mini-logo {
    width: 40px;
    height: 30px;
    object-fit: contain;
    filter: brightness(5);
}