.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chamada{
    align-items: start;
    justify-content: start;
    text-align: start;
    width: 400px;
    margin-bottom: 30px;
}

.chamada h1{
    font-size: 60px;
    font-weight: bold;
}

.chamada p{
    margin-top: -20px;
    font-size: 20px;
    font-weight: normal;
}


.botoes{
    display: flex;
    gap: 15px;
}

.botao{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    &:hover{
        cursor: pointer;
    }

}

.login-button{
    border-style: inherit;
    padding: 10px;
    background-color: rgb(255, 254, 255);
    color: rgb(98, 0, 255);
    font-weight: bold;
    &:hover{
        transition-duration: 0.5s;
        //transition-delay: 0.1s;
        background-color: rgba(255, 254, 255, 0.753);
        color: rgb(98, 0, 255);
    }
}

.register-button{
    border-style: inherit;
    padding: 10px;
    background-color: rgb(98, 0, 255);
    color: white;
    font-weight: bold;
    &:hover{
        transition-duration: 0.5s;
        //transition-delay: 0.1s;
        background-color:rgb(118, 33, 255);
    }
}

.landing-image {
    width: 50%;
    max-height: 300px; 
    object-fit: contain;
}


.top-container{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10vh;
    gap: 400px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    font-weight: bold;

}

.separator{
    width: 1px;
    height: 40px;
    border-style: inherit;
    background-color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 20px;
    :hover{
        background-color: rgba(0, 0, 0, 0.534);
        cursor: pointer;
    }
}